.question-card {
  background-color: #b7bce6;
  border: 1px solid #b9bbbe;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: 4px;
}

h4 {
  margin: 0;
  padding-bottom: 0;
}

p {
  margin: 0;
  padding-bottom: 0;
  text-decoration: underline;
}

ul {
  margin-top: 0;
  list-style-type: disc;
  padding-left: 2rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #7f8389;
}
