.question-card {
  background-color: #e4f8d0;
  border: 1px solid #7a96c2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 0.5rem 2rem;
  border-radius: 4px;
}

.question-inline {
  display: flex;   
  justify-content: space-between; // 
  align-items: center; 
  padding: 0 1rem;  
  margin: 0;    
}

h4 {
  margin: 0;
  padding-bottom: 0;
}

p {
  margin: 0;
  padding-bottom: 0;
  text-decoration: underline;
}

ul {
  margin-top: 0;
  list-style-type: disc;
  padding-left: 2rem;
}


button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #7f8389;
}
