.survey-card {
  background-color: #f9f9f9;
  border: 2px solid #aaa8a8;
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
  border-radius: 2px;
  display: flex-box;
  flex-direction: column;
  gap: 1rem;
}
h3 {
  text-align: center;
}

h4 {
  text-align: center;
  text-decoration: underline;
}

p {
  margin-left: 2rem;
}

button {
  background-color: #0072b1;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  //background-color: #6c757d;
  cursor: not-allowed;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-right: 1rem;
}
.add-question-button {
  display: flex;
  justify-content: flex-end;
  padding: 0rem 1rem;
}

.success {
  margin-top: 1rem;
  color: #28a745;
  font-weight: bold;
}
