@if(survey) {
<form class="survey-card">
  <h3>{{ survey.title }}</h3>
  <p>{{ survey.description }}</p>
  <div class="align-card">
    @if (survey.id && survey.questions && survey.questions.length > 0) {
    @for(question of survey.questions; track question.questionId) {
    <app-question-card [surveyId]="survey.id" [question]="question"></app-question-card>
    }
    }
    <div class="add-question-button">
      <button class="submit-button" type="button" (click)="onAddQuestionSubmit()">
        Add Question
      </button>
    </div>
  </div>
  <!-- Submit Button -->
  <button class="submit-button align_left" type="button" (click)="onUpdateSurveySubmit(survey.id)">
    Edit Survey
  </button>
</form>
}