.survey-card {
 background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0rem 1rem;
  margin:  0rem 1rem;
  border-radius: 2px;
  display: flex-box;
  flex-direction: column;
  gap: 1rem;
}

h4 {
    padding-bottom: 0;
    margin-top: 0.5rem;
    margin-bottom: 0;
    text-align: center;
    text-decoration: underline;
}

p {
    margin-left: 2rem;
}



button {
    background-color: #0072b1;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    //background-color: #6c757d;
    cursor: not-allowed;
}

.success {
    margin-top: 1rem;
    color: #28a745;
    font-weight: bold;
}