.survey-list {
 background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}


.email-input {
    width: 100%;
    display: block;
}

.text-input {
   display: flex-box;
  justify-content: center;
  gap: 5rem;
} 
.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 1rem;

}

.submit-button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #7f8389;
}

button[matSuffix] {
  display: flex;
  background-color: #f9f9f9;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  min-width: 24px;
  margin: 1rem;
  
  .clear-button {
    color: red;
    background-color: transparent;
    font-size: 18px;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    line-height: 18px;
  }

  mat-error {
    color: #e53935;
    font-size: 1.2rem;
  }
}