<form class="survey-list" [formGroup]="surveyListForm" (ngSubmit)="onSubmit()">
<div class="email-input">
  <mat-form-field class="text-input">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" placeholder="Enter your email" aria-label="Email">
    @if (surveyListForm.get('email')?.value) {
    <button matSuffix matIconButton class="clear-button" aria-label="Clear" (click)="clearEmail()">
      <mat-icon>X</mat-icon>
    </button>
    }
    @if (surveyListForm.get('email')?.hasError('email') && !surveyListForm.get('email')?.hasError('required')) {
    <mat-error>Please enter a valid email address</mat-error>
    }
    @if (surveyListForm.get('email')?.hasError('required')) {
    <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <button class="submit-button" type="submit" [disabled]="surveyListForm.invalid">Submit</button>
</div>


<div>
  @if(surveys && surveys.length > 0){
  @for(survey of surveys; track survey.id) {
  <app-survey-card [survey]="survey"></app-survey-card>
  }
  }
</div>

</form>