<form class="update-question" [formGroup]="updateQuestionForm"(ngSubmit)="onQuestionSubmit()">
  <h2>{{ updateTitle }}</h2>
  <div class="id-and-type">
    <!--- Question ID  --->
    <button mat-button class="id-input" type="button" aria-label="Question ID" disabled>Q{{ qId }}</button>

    <!--- Question Type Input -->
    <mat-form-field>
      <mat-select formControlName="questionType" aria-label="Question Type">
        @for (qt of qTypes; track qt) {
        <mat-option [value]="qt.value">{{ qt.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <!--- Question Text Input --->
  <mat-form-field class="text-input">
    <mat-label>Question</mat-label>
    <input matInput type="text" formControlName="questionText" aria-label="Question"
           placeholder="Enter the question text">
    @if (updateQuestionForm.get('questionText')?.value) {
    <button matSuffix matIconButton class="clear-button" aria-label="Clear"
            (click)="updateQuestionForm.patchValue({ questionText: '' })">
      <mat-icon>X</mat-icon>
    </button>
    }
  </mat-form-field>


    <!--- Programmer Notes Input --->
  <mat-form-field class="text-input">
    <mat-label>Programmer Notes</mat-label>
    <input matInput type="text" formControlName="programmerNotes" aria-label="Programmer Notes"
           placeholder="Enter the programmer notes">
    @if (updateQuestionForm.get('programmerNotes')?.value) {
    <button matSuffix matIconButton class="clear-button" aria-label="Clear"
            (click)="updateQuestionForm.patchValue({  programmerNotes: '' })">
      <mat-icon>X</mat-icon>
    </button>
    }
  </mat-form-field>

   <!--- Instructions Input --->
  <mat-form-field class="text-input">
    <mat-label>Instructions</mat-label>
    <input matInput type="text" formControlName="instructions" aria-label="Instructions"
           placeholder="Enter the instructions">
    @if (updateQuestionForm.get('instructions')?.value) {
    <button matSuffix matIconButton class="clear-button" aria-label="Clear"
            (click)="updateQuestionForm.patchValue({  instructions: '' })">
      <mat-icon>X</mat-icon>
    </button>
    }
  </mat-form-field>

 <div class="button-toggle-group">
    <!--- Randomize Options Toggle --->
    <p><mat-slide-toggle formControlName="randomizeOptionsInd"  labelPosition="before">Randomize Options</mat-slide-toggle></p>
    <!--- Mandatory Toggle --->
    <p><mat-slide-toggle formControlName="mandatoryInd" labelPosition="before">Make Required</mat-slide-toggle></p>
  </div>
  
  
  <!-- Submit Button -->
  <button class="submit-button" type="submit"
          [disabled]="survey === null || updateQuestionForm.invalid">
    Save Question
  </button>
</form>

<!-- Success Message -->
@if (submissionSuccess) {
<div class="success">
  <p>Survey successfully updated!</p>
</div>
}
