.update-question {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.id-and-type {
  margin : 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.text-input {
  //margin: 0rem;
  //display: block;
}

.id-input {
  color: white;
  background-color: #7f8389;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 4px;
}

.button-toggle-group {
  display: flex-box;
  justify-content: end;
  gap: 5rem;
}

.button-toggle-group {
  display: flex;
  justify-content: flex-end; // push toggles to the right
  align-items: center;
  gap: 1rem; // spacing between toggles
  margin-top: 1rem;

  // style each <p> wrapper
  p {
    margin: 0; // remove default paragraph spacing
  }

  ::ng-deep .mat-slide-toggle {
    border: 2px solid #2f5877; // visible outline
    border-radius: 4px; // rounded corners
    padding: 0.25rem 0.5rem;
    transition: border-color 0.2s ease;
  }

  ::ng-deep .mat-slide-toggle:hover {
    opacity: 0.8;
  }

  ::ng-deep .mat-slide-toggle.mat-checked {
    //border-color: #3f4240; 

  }

  ::ng-deep .mat-slide-toggle-content {
    font-weight: 500;
    background-color: #0078d4;
  }
}
