.question-update {
   background-color: #b7bce6;
  border: 1px solid #b9bbbe;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 4px;
}

.id-and-type {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.text-input {
  width: 100%;
  display: block;
}

.id-input {
  color: white;
  background-color: #7f8389;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 4px;
}

.button-toggle-group {
  display: flex-box;
  justify-content: end;
  gap: 5rem;
}

.clear-button {
  color: red;
  background-color: transparent;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

 .toggle-field {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5rem;

  mat-slide-toggle {
    ::ng-deep {
      .mdc-switch {
        height: 32px;
        position: relative;
      }
      
      .mdc-switch__track {
        height: 20px;
        border-radius: 10px;
      }
      
      .mdc-switch__handle-track {
        width: 48px;
      }
      
      .mdc-switch__handle {
        width: 16px;
        height: 16px;
        
        // Add minus sign for unchecked state
        &::before {
          content: '−';
          position: absolute;
          font-size: 16px;
          font-weight: bold;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      
      // Add plus sign for checked state
      .mdc-switch--selected .mdc-switch__handle::before {
        content: '+';
      }
      
      .mdc-switch--selected .mdc-switch__track::after {
        background: #0072b1;
      }
      
      .mdc-switch--unselected .mdc-switch__track::after {
        //background: #ccc;
      }
      
      .mdc-label {
        margin-left: 8px;
        font-size: 14px;
      }
    }
  }
 }
 
  // Hide checkmarks in mat-select options
  ::ng-deep .mat-mdc-option .mat-pseudo-checkbox mat-slider-toggle mat-select {
    display: none !important;
  }

  mat-error {
    color: #e53935;
    font-size: 1.2rem;
  }