html {
  height: 100%;
  font-size: 62.5%; /* setting the default to 10px */
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

form,
body {
  height: 100%;
  font-size: 1.6rem; /* 16px */
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

input,
select,
textarea {
  width: 60%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  width: 10%;
}

textarea {
  resize: vertical;
  height: 100px;
}


button {
  background-color: #0072b1;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  //background-color: #7f8389;
  cursor: not-allowed;
}

.success {
  margin-top: 1rem;
  color: #28a745;
  font-weight: bold;
}

  .submit-button {
    width: 15rem;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 1rem;
  }

  mat-error {
    color: #e53935;
    font-size: 1.2rem;
  }
  
  .clear-button {
    color: red;
    background-color: transparent;
    font-size: 18px;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    line-height: 18px;
  }