.update-survey {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-input {
  width: 100%;
  display: block;
}

input {
  width: 50%;
}

.clear-button {
  color: red;
   background-color: transparent;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

  mat-error {
    color: #e53935;
    font-size: 1.2rem;
  }