<h2>{{ updateTitle }}</h2>

<form class="update-survey" [formGroup]="updateSurveyForm" (ngSubmit)="onSubmit()">

<!--- Survey Title Input --->
<mat-form-field class="text-input">
  <mat-label>Title</mat-label>
  <input matInput type="text" formControlName="title"
           placeholder="Enter the title">
  @if (updateSurveyForm.get('title')?.value) {
    <button matSuffix matIconButton class="clear-button" aria-label="Clear" (click)="updateSurveyForm.patchValue({ title: '' })">
      <mat-icon>X</mat-icon>
    </button>
  }
  @if (updateSurveyForm.get('title')?.hasError('title') && !updateSurveyForm.get('title')?.hasError('required')) {
    <mat-error>Please enter a valid survey title</mat-error>
  }
  @if (updateSurveyForm.get('title')?.hasError('required')) {
    <mat-error>Title is <strong>required</strong></mat-error>
  }
  </mat-form-field>

<!--- Survey Description Input --->
  <mat-form-field class="text-input">
  <mat-label>Description</mat-label>
  <input matInput type="text" formControlName="description"
           placeholder="Enter the description">
  @if (updateSurveyForm.get('description')?.value) {
    <button matSuffix matIconButton class="clear-button" aria-label="Clear" (click)="updateSurveyForm.patchValue({ description: '' })">
      <mat-icon>X</mat-icon>
    </button>
  }
  <!--
  @if (updateSurveyForm.get('description')?.hasError('description') && !updateSurveyForm.get('description')?.hasError('required')) {
    <mat-error>Please enter a valid description</mat-error>
} -->
  @if (updateSurveyForm.get('description')?.hasError('required')) {
    <mat-error>Description is <strong>required</strong></mat-error>
} 
  </mat-form-field>

  <!-- Submit Button -->
  <button class="submit-button" type="submit"
          [disabled]="survey === null || updateSurveyForm.invalid">
    Save Survey
  </button>
</form>

<!-- Success Message -->
@if (submissionSuccess) {
<div class="success">
  <p>Survey successfully updated!</p>
</div>
}

<!-- Error Message -->
@if (submissionError) {
<div class="error">
  <p>{{ submissionError }}</p>
</div>
}
